<!--component html goes here -->
<div class="thumb-box">
  <div class="backdrop">
    <div class="control-box">
      <a class="control text-danger" href="#"><i class="fa fa-close fa-3x"></i></a>
      <a class="control text-warning" href="#"><i class="fa fa-search fa-3x"></i></a>
      <a class="control text-info d-block text-center" href="#">Set Default</a>

      </div>
  </div>
  <figure class="figure">
      <img src="http://placehold.jp/50/dee2e6/ffffff/1025x950.png?text=HOSTED%20BY" class="figure-img img-fluid rounded-0" alt="A generic square placeholder image with rounded corners in a figure.">
      <figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
    </figure>
</div>

