@model EntityModel.AppliedCourse

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AppliedCourse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-userid="@ViewData["userid"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <input asp-for="StudentId" type="hidden" />
            <div class="form-group">
                <label asp-for="AcadamicYearId" class="control-label"></label>
                <select asp-for="AcadamicYearId" class ="form-control" asp-items="ViewBag.AcadamicYearId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Fee" class="control-label"></label>
                <input asp-for="Fee" class="form-control" />
                <span asp-validation-for="Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScholarShipDeduction" class="control-label"></label>
                <input asp-for="ScholarShipDeduction" class="form-control" />
                <span asp-validation-for="ScholarShipDeduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fees" class="control-label"></label>
                <input asp-for="Fees" class="form-control" />
                <span asp-validation-for="Fees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationInDays" class="control-label"></label>
                <input asp-for="DurationInDays" class="form-control" />
                <span asp-validation-for="DurationInDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
